@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Permanent+Marker|Roboto:400,900');
// font-family: 'Roboto', sans-serif;
// font-family: 'Black Ops One', cursive;
// font-family: 'Permanent Marker', cursive;

@import "vars";

* {
  box-sizing: border-box;
}
body {
	background: #eee;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Black Ops One', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.page-coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@import "pages/home";
@import "pages/game";

@import "components/buttons";
@import "components/navigation";
@import "components/banners";
@import "components/game-data";
@import "components/about-content";
@import "components/schedule-list";
@import "components/team-block";
@import "components/sponsors";
@import "components/footer";
