.home-page {
  .innerpage-about {
    padding: 0 1em;
    @media (min-width: 720px) {
      background-image: url('/public/images/innerpage/NF-trophy-welcome-box.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -25px center;
    }
  }
  .innerpage-schedule {
    padding: 0 1em;
    @media (min-width: 720px) {
      background-image: url('/public/images/innerpage/shedulerresults_bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right top;
    }
  }
}
