.home-page {
  .innerpage-about {
    padding: 0 1em;
    @media (min-width: 720px) {
      background-image: url('/public/images/innerpage/champs.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      padding: 6em 1em;
    }
  }
  .innerpage-schedule {
    padding: 0 1em;
    background-color: #f4f3f8;
    @media (min-width: 720px) {
      background-image: url('/public/images/innerpage/schedule-number-one.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right top;
    }
  }
}
