.innerpage-about {
  display: flex;
  background: white;
  padding: 2em 0;
  @media (min-width: 720px) {
    justify-content: flex-end;
  }
  &__content {
    padding: 1em;
    @media (min-width: 720px) {
      max-width: 50%;
    }
    .header-sup {
      display: block;
      font-family: 'Permanent Marker', cursive;
      color: lighten($blue, 30%);
      font-size: 1.3rem;
    }
    p {
      color: #aaa;
      line-height: 1.5;
      font-size: 1.2rem;
    }
  }
}
