.large-banner {
  background-size: cover;
  background-position: center center;
  background-image: url("/public/images/banners/group-header.jpg");
  padding: 1rem;
  height: 70vh;
  padding-top: 4em;
  display: flex;
  align-items: center;
  @media (min-width: 42rem) {
    height: 50em;
    padding-top: 5em;
  }
  &__content {
    padding: 0;
    text-align: center;
    width: 100%;
    @media (min-width: 42rem) {
      padding: 0 2em;
      text-align: left;
    }
  }
  h1 {
    color: #fff;
    font-size: 2rem;
    margin: 0 0 1em;
    text-shadow: 3px 3px 2px #111;
    @media (min-width: 42rem) {
      font-size: 4rem;
    }
  }
  .btn {
    margin-left: 0;
    @media (min-width: 42rem) {
      margin-left: 1em;
    }
  }
}

.mid-banner {
  background-size: cover;
  background-position: center center;
  background-image: url("/public/images/banners/group-header.jpg");
  padding: 1rem;
  min-height: 40vh;
  padding-top: 4em;
  display: flex;
  align-items: center;
  @media (min-width: 42rem) {
    min-height: 20em;
    padding-top: 6em;
  }
  &__content {
    padding: 0;
    @media (min-width: 42rem) {
      padding: 0 2em;
    }
  }
  h1 {
    color: #fff;
    font-size: 2rem;
    margin: 0;
    text-shadow: 3px 3px 2px #111;
    @media (min-width: 42rem) {
      font-size: 4rem;
    }
  }
  .btn {
    margin-left: 0;
    @media (min-width: 42rem) {
      margin-left: 1em;
    }
  }

  &__meta {
    background: rgba(0,0,0,0.7);
    padding: 1em 2em;
    color: white;
    display: inline-block;
    span {
      font-weight: bold;
    }
  }
}
